.Row {
	display: flex;
	flex-wrap: wrap;

	.Column-Left, .Column-Right {
		margin-bottom: 300px;
		padding: 0px 12.5px 0px 0px;
	}
}

.center {
	margin-top: 100px;

	> * {
		display: flex;
		justify-content: center;
	}
}

button {
	width: 200px;
}