@import 'flabs-vars';
@import 'flabs-colors';

$flabs-page-m: 2rem;

.flabs-page-header {
  height: $logo-height;
  border-bottom: 1px solid $c-flabs-divider;
  margin-bottom: $flabs-page-m;
  justify-content: space-between;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    height: auto;
    min-height: 4rem;
    justify-content: center;
    h3 {
      padding-top: 0.5rem;
    }
    & .btn-group {
      padding-bottom: 0.5rem;
    }
  }
}

.flabs-page-filter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  & .flabs-filter-btn-wrapper {
    margin-left: auto;
  }
  @include media-breakpoint-down(md) {
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    & .flabs-filter-btn-wrapper {
      margin: 0;
    }

    & flabs-search-input,
    & select {
      width: 100%;
      margin-bottom: 0.8em;
    }
  }
}
